<footer>

    <div class="foot" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="2000">

        <app-button text=".To_Top(↑)" color="#dd0031" (customClick)="toTop()"></app-button>

        <app-button text=".Contact()" color="#dd0031" (customClick)="onCLick()"></app-button>

        <div class="media">

            <app-media name="github" cover="../../../assets/github.svg" url="https://github.com/nabil-k72j"></app-media>
    
            <app-media name="LinkedIn" cover="../../../assets/linkedin.svg" url="https://www.linkedin.com/in/nabil-malki-352a15245/"></app-media>
    
        </div>

        <h3>nabilmalki400@gmail.com</h3>

        <div class="credit">
            <p>Developed by <span class="name">Nabil Malki</span> with <span>Angular</span></p>

            <p>Copyright &copy; 2022</p>
        </div>

    </div>

</footer>
