<div class="container">

    <h1 class="intro" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out">
        I develop high quality <br><span>Web</span> applications.</h1>

    <p class="desc" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
        i'm a 20 year old web developer from Morocco, I Design and Develop front end web apps using the
        <span> <a href="https://angular.io" target="_blank">Angular </a></span>framework
    </p>

    <div data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <app-button text=".Contact()" color="#dd0031" (customClick)="onCLick()"></app-button>
    </div>

    <img src="../../../assets/angular.svg" alt="angular" class="angCover" data-aos="fade-left" data-aos-delay="100"
        data-aos-duration="1000" data-aos-easing="ease-in-out">

    <div data-aos="fade-right" data-aos-delay="600" data-aos-duration="1200" data-aos-easing="ease-in-out" class="media">

        <app-media name="github" cover="../../../assets/github.svg" url="https://github.com/nabil-k72j"></app-media>

        <app-media name="LinkedIn" cover="../../../assets/linkedin.svg" url="https://www.linkedin.com/in/nabil-malki-352a15245/"></app-media>

    </div>

</div>