<section id="work" class="container">

    <h1 class="title" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">.Selected_Works()</h1>

    <div class="work-container">

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">

            <app-project-item border="2px solid #0b1120" cover="../../../assets/portfolio.png" text="React Portfolio"
            codeLink="https://github.com/nabil-k72j/React-portfolio"
            viewLink="https://nabil-malki.netlify.app/"></app-project-item>

        </div>

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">

            <app-project-item border="2px solid #3b79c9" cover="../../../assets/Tourly.png" text="Tourly"
            codeLink="https://github.com/nabil-k72j/Tourly-Travel-website"
            viewLink="https://tourly-travel.netlify.app/"></app-project-item>
        
        </div>

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">
        
            <app-project-item border="2px solid #000" cover="../../../assets/taskTracker.png" text="Task Tracker" 
            codeLink="https://github.com/nabil-k72j/task-tracker">
            </app-project-item>
        
        </div>

    </div>

</section>