<nav class="nav" data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000"
data-aos-easing="ease-in-out">

    <div class="nav-container">
        
        <h2 class="title">Nabil Malki</h2>
        
        <ul class="list">

            <a href="/CV.pdf" download class="list-item">.Resume()</a>
            
            <a (click)="toSkills()" class="list-item">.Skills()</a>
            
            <a (click)="toWork()" class="list-item">.Work()</a>
        
        </ul>
    
    </div>

</nav>
