<section id="skills" class="container">

    <h1 class="title" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
        .selected_Skills()</h1>

    <div class="item-container">

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">
            <app-skill-item title="Angular" cover="../../../assets/angular.svg" border="2px solid #dd0031"
                color="#dd0031" link="https://angular.io/"></app-skill-item>
        </div>

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">
            <app-skill-item title="TypeScript" cover="../../../assets/typescript.svg" border="2px solid #1976d2"
                color="#1976d2" link="https://www.typescriptlang.org/"></app-skill-item>
        </div>

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">
            <app-skill-item title="JavaScript" cover="../../../assets/javascript.svg" border="2px solid #f7df1e"
                color="#f7df1e" link="https://www.javascript.com/"></app-skill-item>
        </div>

        <div data-aos="fade-in" data-aos-delay="100" data-aos-duration="2000">
            <app-skill-item title="TailWind" cover="../../../assets/tailwind.png" border="2px solid #00b7d6"
                color="#00b7d6" link="https://tailwindcss.com/"></app-skill-item>
        </div>

    </div>

</section>